# Unity Generated
Library/
Logs/
Temp/
UserSettings/

# VS / Monodevelop Generated
ExportedObj/
obj/
.vs
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# Os Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db